.timer-bodyF {
    align-items: flex-start;
    display: flex;
    width: 375px;
    height: 812px;
    background: rgba(255,82,64,1);
    opacity: 1;
    flex-direction: column;
    margin: auto;
}

.timer-bodyR {
    align-items: flex-start;
    display: flex;
    width: 375px;
    height: 812px;
    background: rgba(140,207,73,1);
    opacity: 1;
    flex-direction: column;
    margin: auto;
}

.title {
    width: 227px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    padding-top: 5%;
  }

.timer {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.timer-row-wrap {
    width: 87px;
    height: 87px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 642px;
    margin: auto;
    border-radius: 50%;
}

.timer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 81px;
    background: rgba(255,82,64,1);
    opacity: 1;
    position: absolute;
    top: 645px;
    margin: auto;
    border-radius: 50%;
}

.timer-rowR {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 81px;
    background: rgba(140,207,73,1);
    opacity: 1;
    position: absolute;
    top: 645px;
    margin: auto;
    border-radius: 50%;
}

.timeDisplay {
  width: 271px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 91px;
  margin: auto;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}

.activity-container {
    width: 300px;
    height: 160px;
    background: rgba(255,255,255,1);
    opacity: 1;
    margin: auto;
    top: 326px;
    left: 37px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.container-title {
    width: 169px;
    color: rgba(0,0,0,1);
    margin: auto;
    top: 338px;
    left: 103px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 21px;
    opacity: 1;
    text-align: left;
}

.button-wrap-left {
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.button-wrap-right {
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.button-left {
    width: 64px;
    height: 64px;
    background: url("v49_261.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    margin: auto;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.button-right {
    width: 81px;
    height: 81px;
    background: url("v49_265.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    margin: auto;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.action-text {
    margin: auto;
    color: rgb(255, 0, 0);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
}

.petDisplay {
    width: 375px;
    height: 408px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 202px;
    margin:auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.pet{
    width: 241px;
    height: 282px;
    background: url("v49_302.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    margin: auto;
}